extends layout

block content
  ul.background-list.js-background
  a.reload(href="index.html")
  .slide.n1
    .v-center
      a.btn(href="#participate")
        .title принять участие<br> в конкурсе
      //- br
      //- a.btn(href="#print")
        .title Распечатать фото
      //- .text или
      //- a.btn(href="#email")
        .title Отправить по e-mail
  .slide.center-all.city
    .v-center
      h2 Выберите город
      .select-cont.js-styled-select
        .select-text.js-select-text
        select.styled-select
          option Астрахань
          option Белгород
          option Краснодар
          option Курск
          option Нальчик
          option Пятигорск
          option Ростов-на-Дону
          option Сочи
      .btn-cont
        a.btn(href="#city")
          .title Продолжить
  .slide.n2.print
    h2 Выберите лучшее фото
    center.for-photo-list
      a.btn.for-photo-list.disabled(href="#isprinted")
        .title Продолжить
    form.photo-list(data-maxselect=1, data-url=url+'/print/')
      .cf
  .slide.n3.isprinted
    h2(style="margin-top: 165px;") Фото отправлено на печать
    h2(style="margin-top: 75px; margin-bottom: 40px;") Теперь вы можете:
    center
      //a.btn(href="#participate")
        //.title принять участие<br> в конкурсе
      a.btn(href="#email")
        .title Отправить по e-mail
  .slide.n4.email
    h2 Выберите лучшие фото
    center.for-photo-list
      a.btn.disabled(href="#isemail")
        .title Завершить
    form.photo-list(data-maxselect=3)
      .cf
  .slide.n5.isemail
    h2(style="margin-top: 194px;") Укажите ваш e-mail
    input(type="email" name="email" style="margin-top: 65px; margin-bottom: 35px;")
    center
      a.btn.disabled(href="#isemailsend")
        .title Отправить
  .slide.n6.isemailsend
    h2(style="margin-top: 165px;") Фото отправлены на ваш e-mail
    h2(style="margin-top: 75px; margin-bottom: 40px;") Теперь вы можете:
    center
      //a.btn(href="#participate")
        //.title принять участие<br> в конкурсе
      a.btn(href="#print")
        .title Распечатать фото
  .slide.n7.participate
    h2 Правила участия в конкурсе
    .text(style="width:850px;")
      style.
        .text ::-webkit-scrollbar {
            width: 6px;
        }
        .text ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
         
        .text ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            height: 100px;
            background: rgba(255,255,255,0.8); 
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
        }
        .text ::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(255,0,0,0.4); 
        }
      p(style="overflow: scroll; height: 310px;").
          1. Общие положения<br />
          1.1. Наименование конкурса&nbsp;&mdash; &laquo;Это твое время!&raquo; (далее по&nbsp;тексту настоящих Правил &mdash;<br />
          Конкурс).<br />
          1.2. Конкурс проводится на&nbsp;территории Российской Федерации в&nbsp;городах Белгород, Курск,<br />
          Пятигорск, Сочи, Нальчик, <nobr>Ростов-на-Дону</nobr>, Краснодар, Астрахань.<br />
          1.3. Конкурс проводится для граждан Российской Федерации, достигших 18 (восемнадцати)<br />
          лет, проживающих в&nbsp;Российской Федерации и&nbsp;являющихся потребителями табачной<br />
          продукции, в&nbsp;соответствии с&nbsp;настоящими условиями (далее&nbsp;&mdash; Правила).<br />
          1.4. Участник должен внимательно ознакомиться с&nbsp;настоящими Правилами и&nbsp;подтвердить свое<br />
          согласие на&nbsp;участие в&nbsp;Конкурсе на&nbsp;условиях данных Правил. Подтверждая согласие<br />
          с&nbsp;Правилами при регистрации через представителя Организатора, Участник соглашается<br />
          с&nbsp;условиями проведения Конкурса и&nbsp;подтверждает, что является гражданином Российской<br />
          Федерации, достигшим 18 лет, проживает в&nbsp;одном из&nbsp;городов, перечисленных в&nbsp;п. 1.2<br />
          выше, и&nbsp;является потребителем табачной продукции.<br />
          1.5. Организатором Конкурса является Общество с&nbsp;ограниченной ответственностью &laquo;Филип<br />
          Моррис Сэйлз энд Маркетинг&raquo; (ранее и&nbsp;далее&nbsp;&mdash; Организатор). Юридический<br />
          и&nbsp;почтовый адрес: 127051, Российская Федерация, Москва, Цветной бульвар, д. 2, <acronym title="Идентификационный номер налогоплательщика" lang="ru">ИНН</acronym><br />
          7710298176.<br />
          1.6. Приобретение табачной или иной продукции не&nbsp;является условием участия в&nbsp;Конкурсе.<br />
          2. Общие сроки проведения Конкурса<br />
          2.1. Общий срок проведения с&nbsp;00:00:00 <nobr>03.06.2015 г.</nobr> по&nbsp;23:59:59 <nobr>21.09.2015 г.</nobr> (здесь и&nbsp;далее по<br />
          тексту настоящих Правил указано московское время).<br />
          2.2. Регистрация Участников Конкурса и&nbsp;подтверждение Участниками согласия с&nbsp;настоящими<br />
          Правилами в&nbsp;соответствии с&nbsp;городом проведения:<br />
          &mdash;&nbsp;в&nbsp;Белгороде в&nbsp;период с&nbsp;16:00:00 <nobr>03.06.2015 г.</nobr> по&nbsp;22:00:00 <nobr>21.06.2015 г.</nobr>,<br />
          &mdash;&nbsp;в&nbsp;Курске в&nbsp;период с&nbsp;12:00:00 <nobr>10.06.2015 г.</nobr> по&nbsp;22:00:00 <nobr>28.06.2015 г.</nobr>,<br />
          &mdash;&nbsp;в&nbsp;Пятигорске в&nbsp;период с&nbsp;12:00:00 <nobr>24.06.2015 г.</nobr> по&nbsp;22:00:00 <nobr>15.07.2015 г.</nobr>,<br />
          &mdash;&nbsp;в&nbsp;Сочи в&nbsp;период с&nbsp;12:00:00 <nobr>01.07.2015 г.</nobr> по&nbsp;22:00:00 <nobr>19.07.2015 г.</nobr><br />
          &mdash;&nbsp;в&nbsp;Нальчике в&nbsp;период с&nbsp;12:00:00 <nobr>17.07.2015 г.</nobr> по&nbsp;22:00:00 <nobr>03.08.2015 г.</nobr>,<br />
          &mdash;&nbsp;в&nbsp;<nobr>Ростове-на-Дону</nobr> в&nbsp;период с&nbsp;12:00:00 <nobr>22.07.2015 г.</nobr> по&nbsp;22:00:00 <nobr>09.08.2015 г.</nobr><br />
          &mdash;&nbsp;в&nbsp;Краснодаре в&nbsp;период с&nbsp;12:00:00 <nobr>06.08.2015 г.</nobr> по&nbsp;22:00:00 <nobr>23.08.2015 г.</nobr>,<br />
          &mdash;&nbsp;в&nbsp;Астрахани в&nbsp;период с&nbsp;12:00:00 <nobr>12.08.2015 г.</nobr> по&nbsp;22:00:00 <nobr>30.08.2015 г.</nobr><br />
          2.3. Определение получателей Главных призов (далее по&nbsp;тексту настоящих Правил &mdash;<br />
          Победителей), указанных в&nbsp;п.5 настоящих Правил, в&nbsp;соответствии с&nbsp;городом проведения<br />
          Конкурса осуществляется:<br />
          &mdash;&nbsp;в&nbsp;Белгороде в&nbsp;срок с&nbsp;<nobr>22.06.2015 г.</nobr> по&nbsp;<nobr>29.06.2015 г.</nobr>,<br />
          &mdash;&nbsp;в&nbsp;Курске в&nbsp;срок с&nbsp;<nobr>29.06.2015 г.</nobr> по&nbsp;<nobr>06.07.2015 г.</nobr>,<br />
          &mdash;&nbsp;в&nbsp;Пятигорске в&nbsp;срок с&nbsp;<nobr>16.07.2015 г.</nobr> по&nbsp;<nobr>21.07.2015 г.</nobr>,<br />
          &mdash;&nbsp;в&nbsp;Сочи в&nbsp;срок с&nbsp;<nobr>20.07.2015 г.</nobr> по&nbsp;<nobr>27.07.2015 г.</nobr>,<br />
          &mdash;&nbsp;в&nbsp;Нальчике в&nbsp;срок с&nbsp;<nobr>04.08.2015 г.</nobr> по&nbsp;<nobr>11.08.2015 г.</nobr>,<br />
          &mdash;&nbsp;в&nbsp;<nobr>Ростове-на-Дону</nobr> в&nbsp;срок с&nbsp;<nobr>10.08.2015 г.</nobr> по&nbsp;<nobr>17.08.2015 г.</nobr>,<br />
          &mdash;&nbsp;в&nbsp;Краснодаре в&nbsp;срок с&nbsp;<nobr>24.08.2015 г.</nobr> по&nbsp;<nobr>01.09.2015 г.</nobr>,<br />
          &mdash;&nbsp;в&nbsp;Астрахани в&nbsp;период с&nbsp;<nobr>31.08.2015 г.</nobr> по&nbsp;<nobr>07.09.2015 г.</nobr><br />
          2.4. Участник должен самостоятельно ознакомиться с&nbsp;результатами определения победителей<br />
          Конкурса, позвонив по&nbsp;телефону Горячей линии <nobr>8-800-100-39-39</nobr>. По&nbsp;усмотрению<br />
          Организатора уведомление Победителей может дополнительно осуществляется с<br />
          помощью отправки Победителям электронного письма или <nobr>СМС-сообщения</nobr> в&nbsp;период с<br />
          <nobr>22.06.2015 г.</nobr> по&nbsp;<nobr>07.09.2015 г.</nobr> или посредством телефонного звонка.<br />
          2.5. Предоставление и&nbsp;передача (выдача) Главных призов Конкурса осуществляется в&nbsp;период<br />
          с&nbsp;<nobr>16.09.2015 г.</nobr> по&nbsp;<nobr>21.09.2015 г.</nobr>, согласно настоящим Правилам.<br />
          3. Способ проведения Конкурса<br />
          3.1. Конкурс проводится путем регистрации Участников через представителя Организатора с<br />
          использованием <nobr>iPad-приложения</nobr>, а&nbsp;также последующего участия в&nbsp;фотосессии в<br />
          активационной зоне и&nbsp;выполнения творческого задания в&nbsp;соответствии с&nbsp;п. 4.1.5 Правил.<br />
          Конкурс предназначен для участия лиц, соответствующих требованиям п.п.4.1.1. &mdash;&nbsp;4.1.2.<br />
          настоящих Правил.<br />
          3.2. Определение Победителей Конкурса будет производиться в&nbsp;соответствии с&nbsp;настоящими<br />
          Правилами способами, исключающими случайность определения Победителей Конкурса.<br />
          Также исключается использование лотерейного оборудования при определении<br />
          Победителей Конкурса.<br />
          4. Права и&nbsp;обязанности<br />
          4.1. Общие правила участия в&nbsp;Конкурсе<br />
          4.1.1.Участниками Конкурса должны являться дееспособные лица, достигшие возраста 18<br />
          лет, граждане Российской Федерации, являющиеся потребителями табачной<br />
          продукции.<br />
          4.1.2.Участниками не&nbsp;могут быть сотрудники и&nbsp;представители Организатора,<br />
          аффилированных с&nbsp;Организатором лиц, члены их&nbsp;семей, а&nbsp;также работники&nbsp;других<br />
          юридических лиц и/или индивидуальных предпринимателей, причастных к<br />
          организации и&nbsp;проведению Конкурса, и&nbsp;члены их&nbsp;семей.<br />
          4.1.3.Факт участия в&nbsp;Конкурсе означает полное согласие Участника с&nbsp;настоящими<br />
          Правилами.<br />
          4.1.4.Для того чтобы принять участие в&nbsp;Конкурсе, необходимо в&nbsp;срок, указанный в&nbsp;п.<br />
          2.2.настоящих Правил:<br />
          <nobr>4.1.4.1</nobr>.Зарегистрироваться в&nbsp;качестве Участника Конкурса путём внесения полной<br />
          информации в&nbsp;форму регистрации у&nbsp;представителя Организатора Конкурса и<br />
          подтвердить свой возраст, предъявив представителю Организатора один из<br />
          документов, описанных в&nbsp;п. <nobr>4.1.4.6</nobr>.<br />
          <nobr>4.1.4.2</nobr>.При регистрации в&nbsp;Конкурсе через представителя Организатора необходимо<br />
          предоставить следующую информацию о&nbsp;себе: имя, фамилию, город своего<br />
          проживания, адрес электронной почты, номер своего мобильного телефона, пол,<br />
          дату рождения; основную и&nbsp;дополнительную марки сигарет, которые<br />
          предпочитает Участник; а&nbsp;также подтвердить своё согласие с&nbsp;Правилами.<br />
          Каждый Участник может проходить регистрацию только один раз и<br />
          использовать только один личный номер мобильного телефона и&nbsp;адрес<br />
          электронной почты. Номер мобильного телефона должен быть указан в&nbsp;формате<br />
          +7ХХХХХХХХХХ. В&nbsp;случае необходимости изменения номера мобильного<br />
          телефона или адреса электронной почты Участник может обратиться с&nbsp;этим<br />
          вопросом непосредственно к&nbsp;представителю Организатора по&nbsp;номеру телефона<br />
          Горячей линии <nobr>8-800-100-39-39</nobr>. Так&nbsp;же Участник может пройти процедуру<br />
          подтверждения возраста, предъявив представителю Организатора один из<br />
          документов, описанных в&nbsp;п. <nobr>4.1.4.6</nobr>.<br />
          <nobr>4.1.4.3</nobr>. В&nbsp;случае, если Участник зарегистрировался через представителя<br />
          Организатора, но&nbsp;не&nbsp;предоставил документ, подтверждающий его возраст, он<br />
          не&nbsp;может участвовать в&nbsp;определении Победителей Конкурса;<br />
          <nobr>4.1.4.4</nobr>. В&nbsp;случае, если Участник зарегистрировался через представителя<br />
          Организатора и&nbsp;предоставил серию и&nbsp;номер документа, удостоверяющего<br />
          личность (один из&nbsp;следующих документов: заграничный паспорт, паспорт<br />
          гражданина РФ, водительское удостоверение, социальная карта, военный<br />
          билет, паспорт моряка, удостоверение военнослужащего, временное<br />
          удостоверение личности), он&nbsp;может участвовать в&nbsp;определении Победителей<br />
          Конкурса;<br />
          <nobr>4.1.4.5</nobr>. Чтобы получить постоянный доступ на&nbsp;Сайт и&nbsp;участвовать в&nbsp;определении<br />
          Победителей Конкурса, Участник должен предоставить данные,<br />
          перечисленные в&nbsp;п.<nobr>4.1.4.2</nobr>, а&nbsp;также серию и&nbsp;номер одного из&nbsp;документов,<br />
          перечисленных в&nbsp;п.<nobr>4.1.4.6</nobr>. К&nbsp;определению Победителей допускаются только<br />
          Участники, подтвердившие свой возраст;<br />
          <nobr>4.1.4.6</nobr>. При подтверждении своего возраста Участник обязан предоставить первую<br />
          и&nbsp;вторую страницы своего паспорта гражданина Российской Федерации/<br />
          Загранпаспорта (разворот с&nbsp;фотографией)/ Водительского удостоверения/<br />
          Военного билета/Паспорт моряка/Временное удостоверение личности/<br />
          Социальная карта) (ранее и&nbsp;далее по&nbsp;тексту настоящих Правил&nbsp;&mdash; Страницы<br />
          Документа или Документ, удостоверяющего личность). Страницы<br />
          Документа, удостоверяющего личность, должны содержать следующую<br />
          информацию: фамилия, имя, отчество, дата рождения, серия и&nbsp;номер<br />
          Документа, дата выдачи, орган, выдавший Документ.<br />
          <nobr>4.1.4.7</nobr>. Возраст считается подтвержденным, если документ был предоставлен<br />
          представителю Организатора, а&nbsp;его данные внесены в&nbsp;<nobr>iPad-приложение</nobr>.<br />
          <nobr>4.1.4.8</nobr>.Участники, не&nbsp;подтвердившие свой возраст согласно п. <nobr>4.1.4.1</nobr>&mdash;&nbsp;<nobr>4.1.4.7</nobr>, не&nbsp;будут<br />
          учитываться при определении Победителей и&nbsp;распределении Главных призов.<br />
          <nobr>4.1.4.9</nobr>.Если Участник ранее участвовал в&nbsp;<nobr>каких-либо</nobr> программах Организатора и<br />
          предоставлял копию Документа, удостоверяющего личность, путем загрузки<br />
          соответствующих фотокопий или отсканированных копий на&nbsp;<nobr>интернет-сайтах</nobr><br />
          Организатора, и/или прошел регистрацию и&nbsp;проверку возраста через<br />
          представителя Организатора, то&nbsp;повторное предоставление Документа,<br />
          удостоверяющего личность, не&nbsp;требуется при условии, что соответствующая<br />
          копия ранее успешно прошла проверку Организатором и&nbsp;данные Участника,<br />
          представляющего копию Документа, не&nbsp;изменились.<br />
          <nobr>4.1.4.10</nobr>.Участник вправе принять участие в&nbsp;Конкурсе только от&nbsp;своего имени. Указывая<br />
          при регистрации номер мобильного телефона и&nbsp;адрес электронной почты,<br />
          Участник гарантирует, что данный номер мобильного телефона и&nbsp;адрес<br />
          электронной почты принадлежат Участнику и&nbsp;используются им&nbsp;лично.<br />
          <nobr>4.1.4.11</nobr>.Участнику необходимо внимательно ознакомиться с&nbsp;настоящими Правилами и<br />
          подтвердить свое согласие с&nbsp;настоящими Правилами при регистрации через<br />
          представителя Организатора.<br />
          4.1.5.Порядок участия в&nbsp;Конкурсе:<br />
          <nobr>4.1.5.1</nobr>.Для участия в&nbsp;Конкурсе Участнику необходимо пройти процедуру<br />
          профилирования согласно п. 4.1.4. и&nbsp;принять участие в&nbsp;фотосессии и&nbsp;творческом<br />
          задании на&nbsp;стенде в&nbsp;месте проведения активности.<br />
          <nobr>4.1.5.2</nobr>.Фотография Участника заносится представителем Организатора в&nbsp;приложение,<br />
          установленное на&nbsp;iPad, расположенный в&nbsp;месте проведения активности.<br />
          <nobr>4.1.5.3</nobr>.Для выполнения творческого задания Участник должен внести в&nbsp;приложение,<br />
          установленное на&nbsp;iPad, расположенный в&nbsp;зоне проведения активности,<br />
          текстовый ответ на&nbsp;тему &laquo;Что для Вас означает быть стильным?&raquo; Количество<br />
          символов для ответа ограничено. Полученный итоговый результат будет<br />
          сохранен вместе с&nbsp;остальными данными, предоставленными Участником, для<br />
          последующего определения Победителей решением Жюри Конкурса. Повторное<br />
          прохождение творческого задания Участником или замена результатов не<br />
          допускается;<br />
          <nobr>4.1.5.4</nobr>.В каждом городе Победитель творческого конкурса определяется по&nbsp;результатам<br />
          заседания творческого жюри, состоящего из&nbsp;5 (пяти) представителей<br />
          Организатора. Каждый член жюри оценивает работу (фото + текст) каждого<br />
          Участника творческого конкурса и&nbsp;выставляет оценку по&nbsp;<nobr>5-ти</nobr> бальной шкале.<br />
          Победителем в&nbsp;каждом городе становится Участник, набравший наибольшую<br />
          среднюю арифметическую оценку.<br />
          4.1.6.По итогам совершения лицом, удовлетворяющим требованиям настоящих Правил,<br />
          действий, указанных в&nbsp;п. 4.1.5 настоящих Правил, такое лицо признается Участником<br />
          Конкурса и&nbsp;получает право на&nbsp;участие в&nbsp;определении Победителей&nbsp;&mdash; получателей<br />
          Главного приза согласно п. 5 настоящих Правил (ранее и&nbsp;далее по&nbsp;тексту настоящих<br />
          Правил&nbsp;&mdash; Участник).<br />
          4.1.7.Определение Победителей&nbsp;&mdash; получателей Главных призов производится членами<br />
          Жюри в&nbsp;соответствии с&nbsp;п.2.3 и&nbsp;п. 5 настоящих Правил Конкурса. Жюри, состоящее из<br />
          5 (пяти) представителей Организатора, определит Победителей, выбрав 1 (одного)<br />
          Участника Конкурса в&nbsp;каждом из&nbsp;городов проведения Конкурса.<br />
          4.2. Права и&nbsp;обязанности Участника<br />
          4.2.1. Участник имеет право принимать участие в&nbsp;Конкурсе в&nbsp;порядке, определенном<br />
          настоящими Правилами.<br />
          4.2.2. Участник имеет право требовать предоставления Главного приза по&nbsp;результатам<br />
          определения Победителей, если такой Участник был признан Победителем в<br />
          соответствии с&nbsp;положениями настоящих Правил и&nbsp;выполнил все условия Правил для<br />
          получения такого приза.<br />
          4.2.3. Участник не&nbsp;может передавать и/или любым иным образом уступать свои права,<br />
          связанные с&nbsp;участием в&nbsp;Конкурсе, третьему лицу (лицам).<br />
          4.2.4. Каждый Участник вправе отказаться или воздержаться от&nbsp;участия в&nbsp;Конкурсе. В<br />
          случае отказа от&nbsp;Участия в&nbsp;Конкурсе Участник лишается права на&nbsp;получение<br />
          Главного приза. Никакая компенсация отказавшемуся Участнику не&nbsp;предоставляется.<br />
          Участник имеет право отказаться от&nbsp;участия в&nbsp;Конкурсе следующим способом:<br />
          <nobr>4.2.4.1</nobr>.п о&nbsp;зв&nbsp;о&nbsp;н&nbsp;ить п&nbsp;о&nbsp;телеф о&nbsp;н&nbsp;у&nbsp;бе&nbsp;с&nbsp;плат н&nbsp;о&nbsp;й&nbsp;Го&nbsp;ря&nbsp;че&nbsp;й&nbsp;л&nbsp;и&nbsp;н&nbsp;и<br />
          <nobr>8-800-100-39-39</nobr> и&nbsp;сообщить оператору Горячей линии для своей<br />
          идентификации дату рождения, фамилию, имя, отчество и&nbsp;город<br />
          проживания, после чего отказаться от&nbsp;участия в&nbsp;Конкурсе;<br />
          4.2.5.Для получения Главного приза Победитель обязуется предоставить (предъявить) все<br />
          необходимые документы и&nbsp;информацию, как предусмотрено настоящими Правилами<br />
          в&nbsp;сроки, предусмотренные настоящими Правилами.<br />
          4.2.6.Своей регистрацией в&nbsp;качестве Участника Конкурса Участник дает согласие на<br />
          осуществление Организатором и&nbsp;уполномоченными им&nbsp;лицами, действующими в<br />
          соответствии с&nbsp;соглашениями о&nbsp;конфиденциальности, автоматизированной и<br />
          неавтоматизированной обработки, включая сбор, систематизацию, накопление,<br />
          хранение, уточнение (обновление, изменение), использование, распространение (в<br />
          том числе передачу, включая трансграничную передачу), обезличивание,<br />
          блокирование, уничтожение предоставленных Участником персональных данных (в<br />
          том числе паспортных данных и&nbsp;фотографии в&nbsp;паспорте), для целей осуществления<br />
          любым из&nbsp;вышеуказанных лиц и/или их&nbsp;уполномоченными представителями любых<br />
          контактов с&nbsp;Участником в&nbsp;отношении Конкурса, проводимых Организатором или<br />
          уполномоченными им&nbsp;лицами программ, предоставления информации и&nbsp;материалов,<br />
          относящихся к&nbsp;табачным изделиям и&nbsp;различным вопросам, связанным с&nbsp;табачными<br />
          изделиями, приглашений на&nbsp;сайты Организатора и&nbsp;его аффилированных или<br />
          уполномоченных лиц, иной информации посредством электронной связи или иным<br />
          способом (включая почту, электронную почту, СМС, MMS), а&nbsp;также для целей<br />
          маркетинговых исследований и&nbsp;анализа, разработки различного рода программ и<br />
          программ производства, создания баз данных, соблюдения требований<br />
          законодательства Российской Федерации. Кроме того, своей регистрацией в&nbsp;качестве<br />
          Участника Конкурса Участник даёт Организатору свое согласие (согласно ст.152.1<br />
          Гражданского кодекса РФ) записывать его изображения и&nbsp;использовать их&nbsp;путем<br />
          обнародования и&nbsp;дальнейшего их&nbsp;использования любым способом, включая<br />
          размещение изображений в&nbsp;сети Интернет, введение в&nbsp;гражданский оборот<br />
          материальных носителей с&nbsp;изображениями Участника, использования их&nbsp;как для<br />
          внутренних, так и&nbsp;иных целей.<br />
          4.2.7.Указанное согласие действует до&nbsp;даты его отзыва Участником путем направления по<br />
          почте в&nbsp;адрес Организатора письменного уведомления.<br />
          4.2.8.В отношении всех персональных данных, предоставленных Участниками в&nbsp;ходе<br />
          Конкурса, Организатором будет соблюдаться режим их&nbsp;конфиденциальности и<br />
          приниматься меры по&nbsp;обеспечению безопасности персональных данных в<br />
          соответствии с&nbsp;положениями Федерального закона &#8470;&nbsp;<nobr>152-ФЗ</nobr> &laquo;О&nbsp;персональных<br />
          данных&raquo;.<br />
          4.3. Права и&nbsp;обязанности Организатора<br />
          4.3.1.Организатор обязан провести определение Победителей и&nbsp;предоставить Главные<br />
          призы Победителям Конкурса в&nbsp;сроки, установленные настоящими Правилами и&nbsp;в<br />
          соответствии с&nbsp;положениями настоящих Правил.<br />
          4.3.2.Организатор имеет право разглашать персональные данные Участника Конкурса в<br />
          случаях, установленных применимым законодательством.<br />
          4.3.3.Организатор оставляет за&nbsp;собой право не&nbsp;вступать в&nbsp;письменные переговоры либо<br />
          иные контакты с&nbsp;Участниками Конкурса&nbsp;&mdash; кроме случаев, указанных в&nbsp;настоящих<br />
          Правилах или соответствующих требованиям действующего законодательства<br />
          Российской Федерации.<br />
          4.3.4.При досрочном прекращении проведения Конкурса Организатор обязан опубликовать<br />
          сообщение о&nbsp;таком прекращении.<br />
          4.3.5.Приостановление или досрочное прекращение проведения Конкурса не&nbsp;освобождает<br />
          Организатора от&nbsp;необходимости выдачи (передачи) Главных призов Победителям,<br />
          определенным в&nbsp;соответствии с&nbsp;настоящими Правилами на&nbsp;момент приостановления<br />
          или досрочного прекращения Конкурса, а&nbsp;также совершения других необходимых в<br />
          связи с&nbsp;этим действий, при условии выполнения Победителями требований<br />
          настоящих Правил о&nbsp;предоставлении всех необходимых для выдачи Главных призов<br />
          документов и/или информации.<br />
          4.3.6.Организатор и&nbsp;уполномоченные им&nbsp;лица не&nbsp;несут ответственности за&nbsp;неисполнение<br />
          (несвоевременное исполнение) Участниками обязанностей, предусмотренных<br />
          настоящими Правилами.<br />
          4.3.7.В соответствии с&nbsp;требованиями действующего законодательства Российской<br />
          Федерации Организатор предоставляет в&nbsp;налоговые органы сведения о&nbsp;доходах<br />
          физических лиц, полученных Участниками по&nbsp;результатам участия в&nbsp;Конкурсе.<br />
          Организатор удерживает налог на&nbsp;доходы физических лиц в&nbsp;случаях и&nbsp;порядке,<br />
          установленном законодательством Российской Федерации. Ответственность по<br />
          уплате налогов, возникающая в&nbsp;предусмотренных законодательством Российской<br />
          Федерации случаях в&nbsp;связи с&nbsp;получением призов, лежит на&nbsp;Участниках, которые были<br />
          признаны Победителями и&nbsp;получили их.<br />
          4.3.8.Во всем, что не&nbsp;предусмотрено настоящими Правилами, Организатор и&nbsp;Участники<br />
          руководствуются действующим законодательством Российской Федерации.<br />
          5. Определение Победителей и&nbsp;получателей Главного приза<br />
          5.1. Для того, чтобы принять участие в&nbsp;определении Победителей&nbsp;&mdash; получателей Главных<br />
          призов, лицо, соответствующее п.п. 4.1.1. &mdash;&nbsp;4.1.2, должно осуществить действия,<br />
          описанные в&nbsp;п. 4.1.4.- 4.1.5.настоящих Правил.<br />
          5.1.1.По результатам участия в&nbsp;фотосессии и&nbsp;выполнения творческого задания согласно п.<br />
          4.1.5 настоящих Правил формируется Список Участников, в&nbsp;соответствии с&nbsp;городом<br />
          проведения активности&nbsp;&mdash; для Белгорода, Курска, Пятигорска, Сочи, Нальчика,<br />
          <nobr>Ростова-на-Дону</nobr>, Краснодара и&nbsp;Астрахани (здесь и&nbsp;далее&nbsp;&mdash; Списки).<br />
          5.2. Победители Конкурса определяются решением Жюри, согласно срокам, указанным в&nbsp;п.<br />
          2.3. настоящих Правил, по&nbsp;одному Победителю из&nbsp;каждого Списка в&nbsp;соответствии с&nbsp;п.<br />
          5.1.1.<br />
          5.3. В&nbsp;результате проведения Конкурса будут определены 8 (восемь) Победителей &mdash;<br />
          получателей Главного приза, по&nbsp;одному из&nbsp;каждого Списка участников.<br />
          5.4. Победители Конкурса определяются в&nbsp;сроки, указанные в&nbsp;п. 2.3. настоящих Правил.<br />
          5.5. Каждый Участник за&nbsp;весь период проведения Конкурса может получить не&nbsp;более одного<br />
          Главного приза.<br />
          5.6. Победитель Конкурса обязан в&nbsp;период с&nbsp;<nobr>22.06.2015 г.</nobr> по&nbsp;<nobr>15.09.2015 г.</nobr> включительно<br />
          предоставить все необходимые сведения о&nbsp;себе, запрашиваемые Организатором, в&nbsp;том<br />
          числе предоставить копию общегражданского паспорта РФ&nbsp;и/или документа,<br />
          подтверждающего фактическую регистрацию с&nbsp;информацией о&nbsp;последнем адресе<br />
          регистрации по&nbsp;месту жительства (ранее и&nbsp;далее по&nbsp;тексту настоящих Правил &mdash;<br />
          Страница с&nbsp;адресом регистрации), а&nbsp;в&nbsp;случае, если возраст был ранее подтвержден не<br />
          при помощи общегражданского паспорта РФ, также копию страницы общегражданского<br />
          паспорта РФ&nbsp;(разворот с&nbsp;фотографией) согласно п. 4.1. Правил Конкурса. Копия должна<br />
          быть четкой с&nbsp;хорошо читаемыми буквами и&nbsp;цифрами, и&nbsp;содержать данные об&nbsp;органе<br />
          выдавшем данный документ, адресе регистрации по&nbsp;месту жительства и&nbsp;подпись<br />
          ответственного лица.<br />
          Результаты определения Победителей являются окончательными и&nbsp;не&nbsp;подлежат<br />
          пересмотру. В&nbsp;случае отказа Победителя от&nbsp;получения Главного приза, Организатор имеет<br />
          право выдать приз отказавшегося Победителя другому Участнику согласно п.5 настоящих<br />
          Правил.<br />
          6. Призовой фонд Конкурса<br />
          6.1. Главный приз Конкурса&nbsp;&mdash; 8 оплаченных поездок на&nbsp;2 лица в&nbsp;Сочи в&nbsp;сентябре 2015&nbsp;г., для<br />
          Победителей Конкурса. Главный приз выдается в&nbsp;сроки, указанные в&nbsp;п. 2.5 настоящих<br />
          Правил.<br />
          6.2. Призовой фонд Конкурса состоит из&nbsp;8 (восьми) Главных призов Конкурса<br />
          согласно п. 6.1, по&nbsp;1 одной поездке на&nbsp;каждый город проведения Конкурса.<br />
          6.3. Организатор предоставляет возможность Победителю Конкурса пригласить в&nbsp;поездку<br />
          одно сопровождающее лицо (здесь и&nbsp;далее&nbsp;&mdash; Приглашаемое лицо). Приглашаемое лицо<br />
          должно полностью соответствовать требованиям п.п. 4.1.1 и&nbsp;4.1.2 настоящих Правил.<br />
          Приглашаемые лица должны предоставить вместе с&nbsp;Победителем все необходимые<br />
          сведения о&nbsp;себе в&nbsp;порядке, предусмотренном пунктами 7.3&nbsp;&mdash; 7.10. настоящих Правил,<br />
          а&nbsp;также по&nbsp;требованию Организатора Конкурса подписать все необходимые документы,<br />
          в&nbsp;том числе подтверждение статуса курильщика и&nbsp;согласие на&nbsp;обработку персональных<br />
          данных.<br />
          6.4. Поездка состоится в&nbsp;период с&nbsp;<nobr>16.09.2015 г.</nobr> по&nbsp;<nobr>21.09.2015 г.</nobr> Точное время поездки будет<br />
          определено и&nbsp;согласовано между Организатором и&nbsp;Победителем дополнительно.<br />
          6.4.1.Оплаченная поездка оформляется на&nbsp;имя Победителя и&nbsp;не&nbsp;может быть вручена<br />
          другим лицам, и&nbsp;включает в&nbsp;себя следующее:<br />
          <nobr>6.4.1.1</nobr>.Медицинскую страховку для Победителя и&nbsp;одного Приглашенного им&nbsp;лица на<br />
          период поездки;<br />
          <nobr>6.4.1.2</nobr>.Железнодорожный билет в&nbsp;купейном вагоне для Победителя и&nbsp;одного<br />
          Приглашенного им&nbsp;лица из&nbsp;пункта отправки в&nbsp;город Сочи (Россия) и&nbsp;обратно;<br />
          при этом пунктом отправки и&nbsp;возвращения является город проживания<br />
          Победителя; точный маршрут переезда между городом проживания и&nbsp;городом<br />
          Сочи определяется по&nbsp;усмотрению Организатора, и&nbsp;будет согласован между<br />
          Организатором и&nbsp;Победителем дополнительно;<br />
          <nobr>6.4.1.3</nobr>.Проживание Победителя и&nbsp;Приглашенного им&nbsp;лица на&nbsp;время пребывания в&nbsp;г.<br />
          Сочи в&nbsp;гостинице уровня 5 звезд (1 номер на&nbsp;<nobr>2-х</nobr> человек), включая обед и&nbsp;ужин<br />
          (кроме дня отъезда), в&nbsp;течение 3 (трех) суток;<br />
          <nobr>6.4.1.4</nobr>.<nobr>Гала-ужин</nobr> со&nbsp;звездой;<br />
          <nobr>6.4.1.5</nobr>.Мастер- класс по&nbsp;стилю;<br />
          <nobr>6.4.1.6</nobr>.Прогулку на&nbsp;кабриолетах;<br />
          <nobr>6.4.1.7</nobr>.Прогулку на&nbsp;двух яхтах в&nbsp;открытое море, включающую <nobr>обед-фуршет</nobr> на&nbsp;яхте;<br />
          <nobr>6.4.1.8</nobr>.Фотосессию в&nbsp;отеле проживания;<br />
          <nobr>6.4.1.9</nobr>.Трансфер от&nbsp;вокзала до&nbsp;отеля и&nbsp;обратно может быть предоставлен по<br />
          усмотрению организатора Конкурса.<br />
          6.4.2.Оплаченная поездка для Победителя из&nbsp;города Сочи и&nbsp;Приглашенного им&nbsp;лица<br />
          включает в&nbsp;себя следующее:<br />
          <nobr>6.4.2.1</nobr>.Проживание Победителя и&nbsp;Приглашенного им&nbsp;лица на&nbsp;время пребывания в&nbsp;г.<br />
          Сочи в&nbsp;гостинице уровня 5 звезд (1 номер на&nbsp;<nobr>2-х</nobr> человек), включая обед и&nbsp;ужин<br />
          (кроме дня отъезда), в&nbsp;течение 3 (трех) суток;<br />
          <nobr>6.4.2.2</nobr>.<nobr>Гала-ужин</nobr> со&nbsp;звездой;<br />
          <nobr>6.4.2.3</nobr>.Мастер- класс по&nbsp;стилю;<br />
          <nobr>6.4.2.4</nobr>.Прогулку на&nbsp;кабриолетах;<br />
          <nobr>6.4.2.5</nobr>.Прогулку на&nbsp;двух яхтах в&nbsp;открытое море, включающую <nobr>обед-фуршет</nobr> на&nbsp;яхте;<br />
          <nobr>6.4.2.6</nobr>. Фотосессию в&nbsp;отеле проживания;<br />
          <nobr>6.4.2.7</nobr>.Медицинскую страховку для Победителя и&nbsp;одного Приглашенного им&nbsp;лица на<br />
          период поездки.<br />
          6.5. Организатор может также согласовать с&nbsp;Победителем дополнительные условия поездки и<br />
          программы пребывания в&nbsp;случае <nobr>каких-либо</nobr> обстоятельств, находящихся не&nbsp;под<br />
          контролем самого Организатора.<br />
          6.6. Участники, получившие Главный приз в&nbsp;соответствии с&nbsp;разделом 7 настоящих Правил,<br />
          также имеют право на&nbsp;получение дополнительного денежного приза по&nbsp;результатам<br />
          Конкурса. Сумма денежного приза рассчитывается по&nbsp;формуле: Д&nbsp;= А*13/87, где Д&nbsp;&mdash;<br />
          сумма денежного приза, А&nbsp;&mdash; стоимость Главного приза, полученного по&nbsp;результатам<br />
          участия в&nbsp;Конкурсе. Денежный приз может быть выплачен только при условии<br />
          фактического получения Участником Главного приза Конкурса, а&nbsp;также предоставления со<br />
          стороны Участника оригинала подписанного согласия на&nbsp;получение денежного приза.<br />
          6.7. Победитель вправе отказаться от&nbsp;получения Главного приза, указанного в&nbsp;п. 6.1.<br />
          настоящих Правил. Отказом также считается непредоставление, либо несоблюдение<br />
          сроков предоставления документов, требуемых в&nbsp;соответствии с&nbsp;настоящими Правилами<br />
          Конкурса. В&nbsp;случае отказа Победителя от&nbsp;получения Главного приза, указанного в&nbsp;п.6.1.<br />
          настоящих Правил, Жюри Конкурса имеет право присудить данный приз другому<br />
          Участнику Конкурса согласно п.5 настоящих Правил, никакая компенсация Победителю<br />
          не&nbsp;предоставляется.<br />
          6.8. Организатор не&nbsp;несет ответственности в&nbsp;случае невозможности участия Победителя в<br />
          поездке по&nbsp;любым причинам, не&nbsp;зависящим от&nbsp;Организатора.<br />
          7. Порядок и&nbsp;сроки получения Главных призов Конкурса<br />
          1. Сроки предоставления и&nbsp;передачи (выдачи) Главных призов Конкурса&nbsp;&mdash; в&nbsp;соответствии<br />
          с&nbsp;разделом 2 настоящих Правил.<br />
          2. Участники должны самостоятельно ознакомиться с&nbsp;результатами определения<br />
          Победителей, как указано в&nbsp;п. 2.4 Правил. Организатор вправе дополнительно<br />
          уведомлять Победителей с&nbsp;помощью отправки электронного письма и&nbsp;<nobr>СМС-сообщения</nobr><br />
          на&nbsp;адрес электронной почты и&nbsp;на&nbsp;номер мобильного телефона, указанные Участником в<br />
          форме регистрации, а&nbsp;также посредством телефонного звонка.<br />
          3. Для получения Главного приза по&nbsp;результатам Конкурса Победителю необходимо<br />
          обратиться к&nbsp;Организатору в&nbsp;период, указанный в&nbsp;п. 2.4, путем звонка на&nbsp;бесплатную<br />
          Горячую линию <nobr>8-800-100-39-39</nobr>. При обращении к&nbsp;Организатору Победителю<br />
          необходимо сообщить свои фамилию, имя, отчество и&nbsp;дату рождения и&nbsp;подтвердить<br />
          согласие на&nbsp;получение Главного приза.<br />
          4. Предоставить Организатору копии Страниц паспорта в&nbsp;соответствии с&nbsp;требованиями п.<br />
          5.6 настоящих Правил;<br />
          5. Предоставить Организатору копию документа, подтверждающего фактический адрес<br />
          регистрации по&nbsp;месту жительства;<br />
          6. Предоставить Организатору копию своего свидетельства <acronym title="Идентификационный номер налогоплательщика" lang="ru">ИНН</acronym> (при наличии);<br />
          7. Победители по&nbsp;запросу Организатора обязуются в&nbsp;момент получения Главного приза<br />
          предъявить документ, удостоверяющий личность, а&nbsp;также подписать согласие на<br />
          получение Главного приза. После возвращения из&nbsp;поездки Победитель должен подписать<br />
          расписку в&nbsp;получении Главного приза. Если Победитель для получения Главного приза<br />
          не&nbsp;предоставил (не&nbsp;предъявил) все необходимые документы и&nbsp;информацию в&nbsp;порядке,<br />
          предусмотренном настоящими Правилами, либо отказался подписать согласие на<br />
          получение Главного приза, то&nbsp;Главный приз, подлежащий передаче такому Победителю,<br />
          признается невостребованным, и&nbsp;используется по&nbsp;усмотрению Организатора.<br />
          8. Победитель, принимающий Главный приз Конкурса согласно п. 6 настоящих Правил, а<br />
          также Приглашаемое им&nbsp;лицо, соглашается с&nbsp;правилами поведения во&nbsp;время поездки,<br />
          установленными Организатором Конкурса, которые среди прочего включают в&nbsp;себя отказ<br />
          от&nbsp;использования и&nbsp;ношения любых элементов одежды и/или аксессуаров с&nbsp;товарными<br />
          знаками и&nbsp;иными отличительными элементами производителей табачной продукции.<br />
          9. В&nbsp;случае невыполнения Победителем Конкурса требований настоящих Правил<br />
          Победитель считается отказавшимся от&nbsp;Главного приза. При этом Организатор<br />
          освобождается от&nbsp;своих обязательств по&nbsp;выдаче Главного приза, и&nbsp;никакая компенсация<br />
          Победителю не&nbsp;предоставляется. Главный приз признается невостребованным и<br />
          используется по&nbsp;усмотрению Организатора.<br />
          2. Порядок информирования Участников об&nbsp;условиях Конкурса<br />
          1. Информацию о&nbsp;сроках проведения Конкурса, Организаторе, правилах проведения<br />
          Конкурса, количестве призов, статусе регистрации Участников, сроках, месте, порядке<br />
          получения Главных призов в&nbsp;период проведения Конкурса можно получить по&nbsp;телефону<br />
          Горячей линии <nobr>8-800-100-39-39</nobr> с&nbsp;00:00:00 <nobr>03.06.2015 г.</nobr> по&nbsp;23:59:59 <nobr>21.09.2015 г.</nobr><br />
          2. При звонках на&nbsp;Горячую линию <nobr>8-800-100-39-39</nobr> соединение по&nbsp;России бесплатное. В<br />
          случае если местный оператор связи не&nbsp;поддерживает данную услугу, соединение не<br />
          будет установлено.<br />
          2. Иные условия<br />
          2.1.Все материалы и&nbsp;информация, направленные или иным образом предоставленные<br />
          Участником Организатору в&nbsp;связи с&nbsp;данным Конкурсом, становятся собственностью<br />
          Организатора и&nbsp;не&nbsp;подлежат возврату. Участник Конкурса передает Организатору<br />
          исключительное право на&nbsp;свою фотографию, на&nbsp;эксклюзивное, безотзывное,<br />
          действительное во&nbsp;всем мире использование, копирование, демонстрацию и<br />
          распространение предоставленной фотографии полностью и&nbsp;частично, право на<br />
          доработку и/или изменение этой Организатором фотографии после определения<br />
          Победителей Конкурса, а&nbsp;также право на&nbsp;сублицензирование прав на&nbsp;фотографию<br />
          Участника.<br />
          2.2.Организатор не&nbsp;несет ответственности за&nbsp;неисполнение либо ненадлежащее исполнение<br />
          своих обязательств перед Участниками вследствие сбоев в&nbsp;телекоммуникационных и<br />
          энергетических сетях, действий вредоносных программ, наступления <nobr>форс-мажорных</nobr><br />
          обстоятельств, а&nbsp;также недобросовестных действий любых третьих лиц.<br />
          2.3.Организатор не&nbsp;несет ответственности за&nbsp;любые убытки, имеющие отношение или<br />
          возникающие в&nbsp;результате получения Участником уведомлений в&nbsp;результате <nobr>каких-либо</nobr><br />
          ошибок, прерываний связи, неисправностей, задержек, компьютерных вирусов, потери<br />
          Участником <nobr>какой-либо</nobr> прибыли или информации, несанкционированного доступа к<br />
          информации Участника третьих лиц.<br />
          2.4.В случае если информация, содержащаяся в&nbsp;любом уведомлении, касающемся данного<br />
          Конкурса, противоречит настоящим Правилами, либо уведомление было получено<br />
          вследствие возникновения технических ошибок при отправке такого уведомления<br />
          Организатором или третьими лицами, то&nbsp;требования, обязательства и&nbsp;иные отношения,<br />
          следующие из&nbsp;такого уведомления, являются недействительными и&nbsp;не&nbsp;могут быть<br />
          выполнены Организатором; такие ошибки не&nbsp;могут считаться предумышленными и/или<br />
          становиться предметом судебного разбирательства.<br />
          2.5.Кроме случаев, установленных действующим российским законодательством,<br />
          Организатор не&nbsp;несет ответственности за&nbsp;возникшие денежные, налоговые, любые иные<br />
          финансовые обязательства перед государственными органами Российской Федерации,<br />
          стран, взаимодействующих по&nbsp;соглашениям с&nbsp;Российской Федерацией и/или любых<br />
          иных третьих лиц, возникшие в&nbsp;результате полученного дохода Участником в&nbsp;рамках<br />
          участия в&nbsp;Конкурсе, следуя положениям настоящих Правил.
      center
        br
        br
        label
          input(type="checkbox" name="agree" checked)
          span.title Принимаю условия конкурса
        br
        br
        //- a.btn(href="#participate-photo")
        a.btn(href="#city")
          .title Продолжить
  .slide.n8.participate-photo
    h2 Выберите фото для конкурса
    center.for-photo-list
      a.btn.disabled(href="#answer")
        .title Завершить
    form.photo-list(data-maxselect=1)
      .cf
  .slide.n9.answer
    h2 Ответьте на вопрос
    .text Что для Вас означает быть стильным?
    textarea(name="answer")
    center
      a.btn.disabled(href="#preview")
        .title Ответить
  .slide.n10.preview
    h2 Ваша заявка на участие
    .row
      .photo
        img(src="http://dummyimage.com/890x598/")
      .text
        strong Быть на вершине стиля для меня это:
        br
        p
        a.edit_text.btn-nostyle(href="#answer") Редактировать текст
        br
        a.edit_photo.btn-nostyle(href="#participate-photo") Выбрать другое фото
      .cf
    center
      a.btn(href="#socials")
        .title Далее
  .slide.n11.socials
    h2 Страницы в соцсетях
    form
      .row(style="opacity:0;")
        img.ico(src="images/ico-tw.png")
        input(name="tw" placeholder="Twitter")
      .row
        img.ico(src="images/ico-vk.png")
        input(name="vk" placeholder="Вконтакте")
      .row
        img.ico(src="images/ico-fb.png" style="width:25px;")
        input(name="fb" placeholder="Instagram")
      .row(style="opacity:0;")
        img.ico(src="images/ico-ok.png")
        input(name="ok" placeholder="Одноклассники")
    center
      a.btn.disabled(href="#isparicipate")
        .title Отправить
  .slide.n12.isparicipate
    h2(style="margin-top: 165px;") Заявка на участие<br>в творческом конкурсе принята
    h2(style="margin-top: 75px; margin-bottom: 40px;") Теперь вы можете:
    center
      a.btn(href="#print")
        .title Распечатать фото
      a.btn(href="#email")
        .title Отправить по e-mail
      