- var url = 'http://192.168.2.112:8000';

doctype html
html.no-js
  head
    meta(charset='utf-8')
    title EVE Photo
    meta(name='description' content='')
    //meta(name='viewport' content='width=device-width, initial-scale=1')
    //meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi")
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild
    script var _url = '#{url}';

  body
    block content

    // build:js scripts/vendor.js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='scripts/touch.ev.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild